VITE_DOCS_REPO_OWNER=Funsdata
VITE_DOCS_REPO_NAME=FunsdataBI-doc
VITE_DOCS_REPO_BRANCH=master
VITE_DOCS_CDN_BASE_URL=
VITE_DOCS_LOCAL_BASE_URL=/raw
VITE_DOCS_REQUEST_TIMEOUT=8000

DOCS_LOCAL_MIRROR=../FunsdataBI-doc
DOCS_GITHUB_TOKEN=
